* {
    box-sizing: border-box;
    /* adding the border box model */
    /*
    took the help from IAT 235 Notes
    */
}

body {
    margin: 0rem;
    padding: 0rem;
}

.homeText {
    font-size: 1.01rem;
    line-height: 2.2rem;
}

.headColor {
    color: rgb(95, 95, 95);
    font-size: 1.6rem;
}

.headColor2 {
    color: rgb(95, 95, 95);
    font-size: 1.3rem;
}

.hero-image {
    background-image: url(../img/cake1.gif);
    /*Citation From this Image*/
    /*Images Taken from the webiste below*/
    /*https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.squarespace-cdn.com%2Fcontent%2Fv1%2F5c111cc8f8370aa4e72e1994%2F1582837869260-OCLS27PV590YM4PY58YL%2Fke17ZwdGBToddI8pDm48kETsGhw5V0vaG2_dPXh0k_sUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dvFKdYkublVSbgXRfbedCAd5Dtad7AKKpDZvvFHsajo-CjLISwBs8eEdxAxTptZAUg%2FCarlos-Bakery-Carousel-Video.gif%3Fformat%3D2500w&imgrefurl=https%3A%2F%2Fwww.carlosbakery.com%2F&tbnid=UWNNR9ATbiqjHM&vet=12ahUKEwjF8oTbjtnsAhVFgZ4KHfGKCv8QMygAegQIARAW..i&docid=C4k9Oql8c1HtnM&w=1920&h=780&q=carlo%27s%20bakery&hl=en-CA&ved=2ahUKEwjF8oTbjtnsAhVFgZ4KHfGKCv8QMygAegQIARAW */
    background-color: #cccccc;
    height: 750px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -1rem;
}

.navcontainer {
    width: 100%;
    margin: 0 auto;
}

.navcontainerBottom {
    width: 100%;
    margin: 0 auto;
}

.header {
    box-sizing: border-box;
    background: rgb(22, 44, 58);
    padding: 20px;
}

.homeColor {
    color: rgb(134, 134, 134);
}

.header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    font-family: 'Cinzel';
    color: white;
    float: left;
    padding-left: 40px;
    text-decoration: none;
}

@media (max-width: 17rem) {
    .logo {
        font-size: 10vw;
        padding: 0rem;
    }
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    font-family: Brandon Grotesque;
    display: inline-block;
    margin-left: 70px;
    margin-right: 20px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: RGB(219, 204, 181);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: RGB(181, 104, 76);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: RGB(181, 104, 76);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: rgb(243, 243, 243);
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.centered {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 44, 58);
    opacity: 90%;
    padding: 1rem;
    position: absolute;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 3rem;
    top: 50%;
    left: 83%;
    transform: translate(-50%, -50%);
}

.marginz {
    margin: 2rem;
}

.marginn {
    margin: 1rem;
}

.responsive {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

hr {
    border: 0.07rem solid rgb(112, 112, 112);
    background-color: rgb(194, 192, 192);
}

.textCenter {
    font-family: fauna one;
    text-align: center;
    line-height: 1.8rem;
}

.italic {
    font-style: italic;
}

@media (min-width: 100rem) {
    .quote {
        margin-left: 20rem;
        margin-right: 20rem;
    }
}

.grid {
    display: grid;
}

@media (max-width: 50rem) {
    .grid.add-gutters {
        /*
        took the help from IAT 235 Notes
        */
        /* adding gutters to the columns */
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
}

@media (min-width: 50rem) {
    .grid.grid4 {
        /*
    took the help from IAT 235 Notes
    */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-auto-flow: row;
    }
}

@media (max-width: 50rem) {
    .grid.add-gutters {
        /*
        took the help from IAT 235 Notes
        */
        /* adding gutters to the columns */
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
}

@media (min-width: 35rem) {
    .grid.grid2 {
        /*
    took the help from IAT 235 Notes
    */
        grid-template-columns: 8fr 1fr;
        grid-template-rows: auto;
        grid-auto-flow: row;
    }
}

@media (min-width: 90rem) {
    .grid.grid12 {
        /*
      took the help from IAT 235 Notes
      */
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-flow: row;
    }
}

.copyright {
    color: white;
    margin-left: 5rem;
    margin-top: -4rem;
}

@media (max-width: 35rem) {
    .copyright {
        margin-top: 1rem;
    }
}

@media (max-width: 15rem) {
    .copyright {
        margin-top: 1rem;
        font-size: 6vw;
        padding: 0rem;
        margin-left: 0rem;
    }
}

@media (min-width: 90rem) {
    .grid.grid1 {
        /*
      took the help from IAT 235 Notes
      */
        display: inline-block;
        grid-template-columns: 1fr;
        grid-template-rows: 2rem;
        grid-auto-flow: row;
    }
}
