body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(219, 204, 181);
  color: rgb(22, 44, 58);
  font-family: Fauna One;
}

/* TOP NAVIGATION */

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 70px;
  background: rgb(22, 44, 58);
}

nav .logo {
  float: left;
  padding-bottom: 0rem;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Cinzel;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 20rem) {
  nav .logo {
    font-size: 1rem;
  }
}

.logoCo {
  text-decoration: none;
  color: white;
}

.logoCo a:hover {
  color: white
}

.logoCo a::before {
  content: '';
  display: block;
  transform: translateY(0%);
  height: 9px;
  background-color: RGB(255, 255, 255, 0);
  top: 0;
  width: 0%;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  padding-bottom: 30px;
  list-style: none;
  align-items: center;
}

nav .links a {
  text-decoration: none;
  font-family: Brandon Grotesque;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  font-size: 13px;
  font-weight: bold;
  color: RGB(219, 204, 181);
}

#nav-toggle {
  position: relative;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-60%);
}

nav .icon-burger .line {
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 700px) {
  nav .logo {
    transform: translateY(-20%);
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 100%;
    background: rgb(39, 39, 39);
    width: auto;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    overflow: hidden;
    transition: all .5s ease-in-out;
  }
  nav .links a {
    font-size: 15px;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked~.links {
    bottom: 0;
  }
  nav :checked~.icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked~.icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked~.icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

nav a:hover {
  color: RGB(181, 104, 76);
}

nav a::before {
  content: '';
  display: block;
  transform: translateY(-100%);
  height: 5px;
  background-color: RGB(181, 104, 76);
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.navcontainer {
  width: 100%;
  margin: 0 auto;
}

.homeColor {
  color: rgb(134, 134, 134);
}

.header::after {
  content: '';
  display: table;
  clear: both;
}

/* TOP NAV BAR [END]*/

.intro h1 {
  font-family: 'Brandon Grotesque';
  font-size: 50rem;
}

.intro {
  color: rgb(22, 44, 55);
  transform: translateY(30%);
  text-align: center;
  margin: 20px;
  padding: 20px;
}

/*faq stuff */

hr.new1 {
  border: 1px solid rgb(150, 150, 150);
  max-width: 50%;
}

.questions {
  text-align: center;
  font-family: Cinzel;
  font-size: 20px;
  margin-top: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.questions h1 {
  font-family: 'Brandon Grotesque';
  font-size: 60px;
  margin-bottom: 100px;
}

.answers {
  font-family: 'Fauna one';
  font-size: 14px;
}

/* FAQ PAGE [END] */

.email {
  margin-top: 6rem;
  margin-left: 5rem;
  margin-right: 8rem;
}

.email form {
  margin: auto;
  width: 75%;
}

.row {
  display: flex;
}

.column {
  flex: 2%;
  padding: 1px;
}

.payment {
  font-family: Cinzel;
  margin-left: 5rem;
  margin-right: 8rem;
}

.email h2 {
  text-align: center;
}

.checkoutsection .row .container {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 0rem;
  width: 90%;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
}

.col-25, .col-50, .col-75 {
  padding: 0 1rem;
  font-family: Cinzel;
}

.container {
  background-color: RGB(219, 204, 181);
  padding: 5px 20px 15px 20px;
  font-family: Cinzel;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  font-family: Fauna One;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

@media (min-width: 55rem) {
  label {
    font-family: Cinzel;
    margin-bottom: 10px;
    /*display: block;*/
  }
}

@media (max-width: 55rem) {
  label {
    font-family: Cinzel;
    margin-bottom: 10px;
    display: block;
  }
}

.icon-container {
  font-family: Fauna One;
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

span.price {
  font-family: Cinzel;
  float: right;
  color: white;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */

.grid {
  display: grid;
}

/*@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}*/

@media (max-width: 50rem) {
  .grid.add-gutters {
    /*
      took the help from IAT 235 Notes
      */
    /* adding gutters to the columns */
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

@media (min-width: 35rem) {
  .grid.grid2 {
    /*
  took the help from IAT 235 Notes
  */
    grid-template-columns: 8fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
}

@media (min-width: 90rem) {
  .grid.grid12 {
    /*
    took the help from IAT 235 Notes
    */
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
}

.copyright {
  color: white;
  margin-left: 5rem;
  margin-top: -4rem;
}

@media (max-width: 35rem) {
  .copyright {
    margin-top: 1rem;
  }
}

@media (max-width: 15rem) {
  .copyright {
    margin-top: 1rem;
    font-size: 6vw;
    padding: 0rem;
    margin-left: 0rem;
  }
}

@media (max-width: 55rem) {
  .btn {
    padding: 12px;
    width: 100px;
    border-radius: 15px;
    font-size: 15px;
    font-family: Fauna One;
    cursor: pointer;
    margin-left: 0rem;
    transition: 0.8s;
    overflow: hidden;
    background: rgb(219, 204, 181);
    color: rgb(22, 44, 58);
    border: 2px solid rgb(22, 44, 58);
  }
}

@media (min-width: 55rem) {
  .btn {
    padding: 12px;
    width: 100px;
    border-radius: 15px;
    font-size: 15px;
    font-family: Fauna One;
    cursor: pointer;
    margin-left: 4rem;
    transition: 0.8s;
    overflow: hidden;
    background: rgb(219, 204, 181);
    color: rgb(22, 44, 58);
    border: 2px solid rgb(22, 44, 58);
  }
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgb(22, 44, 58);
  z-index: -1;
  transition: 0.8s;
}

.btn:hover {
  color: RGB(181, 104, 76);
  background: rgb(22, 44, 58);
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

.uploadpic {
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
}

.uploadpic p {
  text-align: center;
}

.uploadpic form {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
}

@media (min-width: 55rem) {
  .column {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 250px;
  }
}

@media (max-width: 55rem) {
  .column {
    margin-left: -2rem;
    margin-right: auto;
  }
}

.intro {
  color: rgb(22, 44, 55);
  transform: translateY(30%);
  text-align: center;
  margin: 20px;
  margin-bottom: 100px;
  padding: 20px;
}

.intro h1 {
  font-family: 'Brandon Grotesque';
  font-size: 4rem;
}

@media (max-width: 40rem) {
  .intro h1 {
    font-family: 'Brandon Grotesque';
    font-size: 2rem;
  }
}

/* PAYMENT FORM */

.filloutform {
  padding: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.textinput {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 60%;
  display: flex;
}

.orderinput {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.form {
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
  color: rgb(22, 44, 58);
  font-family: fauna one;
}

.form input {
  background: rgb(219, 204, 181);
  width: 100%;
  height: 100%;
  color: black;
  font-family: fauna one;
  font-size: 14px;
  padding-top: 1px;
  border: none;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after {
  content: "";
  left: 0px;
  bottom: -1px;
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid rgb(22, 44, 58);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

/*animation & styling*/

.form input:focus+.label-name .content-name, .form input:valid+.label-name .content-name {
  /*animation & styling*/
  transform: translateY(-150%);
  font-family: fauna one;
  font-size: 12px;
  color: grey;
}

.form input:focus+.label-name::after, .form input:valid+.label-name::after {
  transform: translateX(0%);

}

/* Took a little help from online resource: https: //tutorialzine.com/ */

/*Footer*/

.footer-distributed {
  background-color: rgb(22, 44, 58);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

@media (min-width: 15rem) {
  .footer-distributed .footer-center p a {
    color: RGB(219, 204, 181);
    text-decoration: none;
    margin-left: 0rem;
  }
}

@media (max-width: 15rem) {
  .footer-distributed .footer-center p a {
    color: RGB(219, 204, 181);
    text-decoration: none;
    margin-left: -3rem;
  }
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

.logoFooter {
  font-family: "Cinzel";
  font-size: 1.6rem;
}

.textFooter {
  font-family: Brandon Grotesque;
}

.emailColor {
  color: white;
}

span.c {
  display: block;
}