body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(219, 204, 181);
}

hr.new1 {
  border-top: 1px dashed rgb(22, 44, 58);

}


/* The top navigation */

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 70px;
  background: rgb(22, 44, 58);
}

nav .logo {
  float: left;
  padding-bottom: 0rem;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Cinzel;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 20rem) {
  nav .logo {
    font-size: 1rem;
  }
}



.logoCo {
  text-decoration: none;
  color: white;
}

.logoCo a:hover {
  color: white
}

.logoCo a::before {
  content: '';
  display: block;
  transform: translateY(0%);
  height: 9px;
  background-color: RGB(255, 255, 255, 0);
  top: 0;
  width: 0%;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  padding-bottom: 30px;
  list-style: none;
  align-items: center;
}

nav .links a {
  text-decoration: none;
  font-family: Brandon Grotesque;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  font-size: 13px;
  font-weight: bold;
  color: RGB(219, 204, 181);
}

#nav-toggle {
  position: relative;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-60%);
}

nav .icon-burger .line {
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

@media screen and (max-width: 700px) {
  nav .logo {
    transform: translateY(-20%);
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 100%;
    background: rgb(39, 39, 39);
    width: auto;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    overflow: hidden;
    transition: all .5s ease-in-out;
  }
  nav .links a {
    font-size: 15px;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked~.links {
    bottom: 0;
  }
  nav :checked~.icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked~.icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked~.icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

nav a:hover {
  color: RGB(181, 104, 76);
}

nav a::before {
  content: '';
  display: block;
  transform: translateY(-100%);
  height: 5px;
  background-color: RGB(181, 104, 76);
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.navcontainer {
  width: 100%;
  margin: 0 auto;
}

.homeColor {
  color: rgb(134, 134, 134);
}

.header::after {
  content: '';
  display: table;
  clear: both;
}

/* The top navigation */

/*faq stuff */

.questions {
  font-family: Cinzel;
  margin-top: 5rem;
  margin-left: 4rem;
  margin-right: 1rem;
}
.email {
  font-family: Cinzel;
  margin-top: 8rem;
  margin-left: 5rem;
  margin-right: 8rem;
}

.checkoutsection .row .container {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 0rem;
  width: 90%;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
}

.col-25, .col-50, .col-75 {
  padding: 0 1rem;
  font-family: Cinzel;
}

.container {
  background-color: RGB(219, 204, 181);
  padding: 5px 20px 15px 20px;
  font-family: Cinzel;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  font-family: Fauna One;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  font-family: Cinzel;
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  font-family: Fauna One;
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: RGB(22, 44, 58);
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-family: Cinzel;
  font-size: 17px;
}

.btn:hover {
  background-color: RGB(181, 104, 76);
  font-family: Fauna One;
}

span.price {
  font-family: Cinzel;
  float: right;
  color: white;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */

.grid {
  display: grid;
}

/*@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}*/

@media (max-width: 50rem) {
  .grid.add-gutters {
    /*
      took the help from IAT 235 Notes
      */
    /* adding gutters to the columns */
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

@media (min-width: 35rem) {
  .grid.grid2 {
    /*
  took the help from IAT 235 Notes
  */
    grid-template-columns: 8fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
}

@media (min-width: 90rem) {
  .grid.grid12 {
    /*
    took the help from IAT 235 Notes
    */
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
}

.copyright {
  color: white;
  margin-left: 5rem;
  margin-top: -4rem;
}

@media (max-width: 35rem) {
  .copyright {
    margin-top: 1rem;
  }
}

@media (max-width: 15rem) {
  .copyright {
    margin-top: 1rem;
    font-size: 6vw;
    padding: 0rem;
    margin-left: 0rem;
  }
}
